<!DOCTYPE html>
<html ng-app="App" ng-controller="formController">
    <head>
        <meta charset="utf-8">
        <title>Thortful</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    </head>
    <body>
        <div class="App container">

                <search-bar></search-bar>

                <div class="loader" ng-if="!details">
                    <p>Enter a repo name above!</p>
                </div>

                <div ng-if="details" repo-item item=""></div>

        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js"></script>
        <script src="./app.js"></script>

    </body>
</html>
