<!DOCTYPE html>
<html ng-app="App" ng-controller="formController">
    <head>
        <meta charset="utf-8">
        <title>Thortful</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    </head>
    <body>
        <div class="App container">

                <div class="row">
                    <h1 class="text-center">Repo Seach</h1>
                    <input class="col-xs-8 form-control" type="text" name="name" ng-model="search" placeholder="Repo name...">
                </div>

                <div class="loader" ng-if="!details">

                </div>
                <div class="repo__list" ng-if="details.items" ng-repeat="repo in details.items">
                    <h2 class="repo__name">{{repo.name}}</h2>
                    <p>Description: {{repo.description}}</p>
                    <p>Forks: {{repo.forks_count}}</p>
                    <p><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Open Issues: {{repo.open_issues_count}}</p>
                    <a href="{{repo.stargazers_url}}">Number of Stargazers: {{repo.stargazers_count}}</a>

                </div>

        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js"></script>
        <script src="./app.js"></script>

    </body>
</html>
